{% extends 'layout-fr.html' %}
{% block main %}
	<main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
		<section class="sample-text-area">
			<div class="container box_1170">
				<h1 class="">Qu'est-ce que PyCon Niger</h1>
				<p style="font-size: 20px; color: #432c16;">PyCon Niger est la principale conférence technologique internationale annuelle organisée par la communauté Python Niger, réunissant des passionnés de Python, des développeurs et des professionnels de l'industrie de tout le Niger. En tant que plus grand rassemblement de ce type dans le pays, PyCon Niger sert de plateforme de collaboration, d'innovation et de partage de connaissances au sein de la communauté Python.</p>

				<p style="font-size: 20px; color: #432c16;">Cet événement joue un rôle crucial dans la promotion de la croissance de l'écosystème Python au Niger en connectant des individus de divers horizons qui partagent une passion pour la programmation Python. Grâce à PyCon Niger, les participants sont encouragés à explorer les dernières tendances de la programmation Python, à échanger des idées et à contribuer à l'avancement de la technologie au Niger et au-delà.</p>

				<p style="font-size: 20px; color: #432c16;">PyCon Niger offre également une excellente opportunité aux participants de réseauter avec des professionnels partageant les mêmes idées, d'apprendre des experts et d'obtenir des informations sur les technologies émergentes. En réunissant un groupe diversifié de participants, PyCon Niger contribue à combler le fossé entre le monde universitaire et l'industrie, garantissant que les compétences enseignées sont pertinentes et en demande.</p>

				<p style="font-size: 20px; color: #432c16;">En fin de compte, PyCon Niger est plus qu'une simple conférence ; c'est un catalyseur pour l'avancement technologique et l'innovation dans la région. En favorisant une communauté forte de développeurs et de passionnés de Python, PyCon Niger aide à stimuler le progrès et le développement, ayant un impact significatif sur le paysage technologique du Niger.</p>

			</div>
		</section>

	</main>


{% endblock main %}