{% extends 'layout.html' %}
{% block main %}
	<main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
		<section class="sample-text-area">
			<div class="container box_1170">
				<h1 class="">What is PyCon Niger</h1>
				<p style="font-size: 20px; color: #432c16;">PyCon Niger is the premier annual international tech conference organized by Python Niger Community, bringing together Python enthusiasts, developers, and industry professionals from across Niger Republic. As the largest gathering of its kind in the country, PyCon Niger serves as a platform for collaboration, innovation, and knowledge-sharing within the Python community.</p>

				<p style="font-size: 20px; color: #432c16;">This event plays a crucial role in fostering the growth of the Python ecosystem in Niger by connecting individuals from various backgrounds who share a passion for Python programming. Through PyCon Niger, participants are empowered to explore the latest trends in Python programming, exchange ideas, and contribute to the advancement of technology in Niger Republic and beyond.</p>

				<p style="font-size: 20px; color: #432c16;">PyCon Niger also provides an excellent opportunity for attendees to network with like-minded professionals, learn from experts, and gain insights into emerging technologies. By bringing together a diverse group of participants, PyCon Niger helps to bridge the gap between academia and industry, ensuring that the skills being taught are relevant and in demand.</p>

				<p style="font-size: 20px; color: #432c16;">Ultimately, PyCon Niger is more than just a conference; it is a catalyst for technological advancement and innovation in the region. By fostering a strong community of Python developers and enthusiasts, PyCon Niger helps to drive progress and development, making a significant impact on the technological landscape of Niger Republic.</p>

			</div>
		</section>
	</main>


{% endblock main %}