{% extends 'layout-fr.html' %}
{% block main %}
	<main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<section class="sample-text-area">
			<div class="container box_1170">
				<h1 style="font-weight: bolder;">Politique de Santé et de Sécurité de la Communauté Python Niger</h1>
				
				<p style="font-size: 20px; color: #432c16;">La santé et la sécurité de nos participants, du personnel et de la communauté sont nos priorités absolues. Les événements de la communauté Python Niger s'engagent à mettre en œuvre des mesures pour prévenir la propagation du COVID-19 et assurer un environnement sûr et sécurisé pour tous les participants. Cette politique décrit les directives et protocoles qui seront en place tout au long de l'événement.</p>

				<h2 style="padding-top: 25px; font-weight: bolder;">* Directives Générales *</h2>
				<h5>1. Exigence de Vaccination</h5>
				<p style="font-size: 20px; color: #432c16;">Tous les participants sont fortement encouragés à être entièrement vaccinés contre le COVID-19 avant de participer à l'événement. Une preuve de vaccination peut être exigée pour l'entrée.</p>

				<h5>2. Dépistages de Santé</h5>
				<p style="font-size: 20px; color: #432c16;">Les participants doivent effectuer des auto-évaluations de leur santé avant d'arriver à l'événement. Les personnes présentant des symptômes tels que de la fièvre, de la toux ou des difficultés respiratoires sont priées de rester chez elles.</p>

				<h5>3. Obligation de Porter un Masque</h5>
				<p style="font-size: 20px; color: #432c16;">Les masques doivent être portés en tout temps pendant l'événement, sauf lorsque vous mangez ou buvez activement. Les participants sont responsables d'apporter leurs propres masques, mais un approvisionnement limité sera disponible sur place.</p>

				<h5>4. Hygiène des Mains</h5>
				<p style="font-size: 20px; color: #432c16;">Des stations de désinfectant pour les mains seront placées dans tout le lieu. Les participants sont encouragés à se laver les mains fréquemment et à utiliser régulièrement du désinfectant pour les mains.</p>

				<h5>5. Distanciation Sociale</h5>
				<p style="font-size: 20px; color: #432c16;">Les participants doivent maintenir une distanciation physique conformément aux directives sanitaires locales. Les dispositions de sièges, les configurations des sessions et les espaces communs seront organisés pour faciliter la distanciation sociale.</p>

				<h5>6. Enregistrement Sans Contact</h5>
				<p style="font-size: 20px; color: #432c16;">Les participants sont encouragés à utiliser des méthodes sans contact pour les processus d'enregistrement et d'accueil. Des badges et des documents numériques seront fournis.</p>

				<h2 style="padding-top: 25px; font-weight: bolder;">* Mesures de Sécurité du Lieu *</h2>
				<h5>Ventilation</h5>
				<p style="font-size: 20px; color: #432c16;">Le lieu assurera une ventilation adéquate dans tous les espaces de l'événement. Dans la mesure du possible, des espaces extérieurs seront utilisés pour les activités.</p>

				<h5>1. Protocoles de Désinfection</h5>
				<p style="font-size: 20px; color: #432c16;">Des mesures de nettoyage et de désinfection renforcées seront mises en œuvre tout au long de l'événement, en mettant l'accent sur les surfaces fréquemment touchées et l'équipement partagé.</p>

				<h5>2. Premiers Secours et Assistance Médicale</h5>
				<p style="font-size: 20px; color: #432c16;">Du personnel médical formé sera disponible sur place pour fournir une assistance si nécessaire. Les stations de premiers secours seront clairement indiquées.</p>

				<h5>3. Procédures d'Évacuation d'Urgence</h5>
				<p style="font-size: 20px; color: #432c16;">Les participants seront informés des procédures d'évacuation d'urgence, et le personnel du lieu sera disponible pour aider en cas d'urgence.</p>

				<h2 style="padding-top: 25px; font-weight: bolder;">* Communication et Mises à Jour *</h2>
				<h5>1. Annonces de Santé et de Sécurité</h5>
				<p style="font-size: 20px; color: #432c16;">Des annonces régulières et des rappels sur les mesures de santé et de sécurité seront faits tout au long de l'événement.</p>

				<h5>2. Mises à Jour de l'Événement</h5>
				<p style="font-size: 20px; color: #432c16;">Les participants seront informés rapidement de tout changement dans le programme de l'événement ou des protocoles par le biais des canaux de communication officiels de l'événement.</p>

				<h5>3. Coopération des Participants</h5>
				<p style="font-size: 20px; color: #432c16;">Tous les participants sont tenus de coopérer avec les protocoles de santé et de sécurité pour garantir un environnement sûr et confortable pour tous.</p>

				<p style="font-size: 20px; color: #432c16;">En participant aux événements de la communauté Python Niger, les participants acceptent de se conformer à cette politique COVID/Santé & Sécurité. Les organisateurs se réservent le droit de mettre à jour et de modifier ces directives en fonction de l'évolution de la situation de santé publique.</p>

			</div>
		</section>

	</main>


{% endblock main %}