{% extends 'layout-fr.html' %}
{% block main %}
	<main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
		
		<!-- Début de la zone de texte d'exemple -->
		<section class="sample-text-area">
		    <div class="container box_1170">
		        <h2 class="" style="font-size:40px;">Informations d'inscription</h2>
		        <p class="sample-text" style="font-size: 20px; color: #432c16;">
		            Rejoignez PyCon Niger pour vous connecter avec des passionnés de Python, apprendre des experts de l'industrie et améliorer vos compétences. Restez informé des tendances de l'industrie, partagez vos expériences et collaborez avec d'autres. Soyez inspiré, amusez-vous et faites passer votre programmation Python au niveau supérieur !
		        </p>
		    </div>
		</section>
		<!-- Fin de la zone de texte d'exemple -->

		<section class="sample-text-area">
		    <div class="container box_1170">
		        <h2>Catégories d'inscription à PyCon Niger</h2>
		        <p style="font-size: 20px; color: #432c16;">Voici les différents types de catégories d'inscription pour PyCon Niger :</p>
		        
		        <ol>
		            <li>
		                <h2>1. Inscription Corporate (25,000xof) :</h2>
		                <p style="font-size: 20px; color: #432c16;">Cette catégorie est adaptée aux entreprises ou organisations envoyant des employés pour assister à PyCon Niger.</p>
		                <p style="font-size: 20px; color: #432c16;">Les forfaits d'inscription corporate peuvent inclure des réductions en gros pour plusieurs participants de la même organisation.</p>
		                <p style="font-size: 20px; color: #432c16;">Les participants sous cette catégorie ont généralement accès à toutes les sessions de conférence, ateliers et événements de réseautage.</p>
		            </li>

		            <li>
		                <h2>2. Inscription Individuelle (20,000xof) :</h2>
		                <p style="font-size: 20px; color: #432c16;">L'inscription individuelle convient aux professionnels, travailleurs indépendants ou passionnés assistant à PyCon Niger par eux-mêmes.</p>
		                <p style="font-size: 20px; color: #432c16;">Cette catégorie donne accès à toutes les sessions de conférence, ateliers et événements de réseautage.</p>
		                <p style="font-size: 20px; color: #432c16;">Les individus peuvent avoir la possibilité de choisir des options supplémentaires ou des mises à niveau en fonction de leurs préférences.</p>
		            </li>

		            <li>
		                <h2>3. Inscription Étudiante (15,000xof) :</h2>
		                <p style="font-size: 20px; color: #432c16;">L'inscription étudiante est conçue pour les étudiants inscrits dans des établissements éducatifs qui souhaitent assister à PyCon Niger.</p>
		                <p style="font-size: 20px; color: #432c16;">Cette catégorie propose souvent des tarifs réduits pour rendre la conférence plus accessible aux étudiants.</p>
		                <p style="font-size: 20px; color: #432c16;">Les inscrits étudiants peuvent avoir besoin de fournir une identification étudiante valide pour bénéficier du tarif réduit.</p>
		            </li>

		            <li>
		                <h2>4. Inscription Enfant (10,000xof) :</h2>
		                <p style="font-size: 20px; color: #432c16;">L'inscription enfant est spécifiquement pour les jeunes participants accompagnant leurs parents ou tuteurs à PyCon Niger.</p>
		                <p style="font-size: 20px; color: #432c16;">Cette catégorie peut proposer des frais d'inscription réduits ou gratuits pour les enfants en dessous d'un certain âge.</p>
		                <p style="font-size: 20px; color: #432c16;">Les enfants inscrits peuvent avoir accès à certaines sessions ou activités adaptées à leur groupe d'âge.</p>
		            </li>
		        </ol>
		    </div>
		</section>

		<section class="sample-text-area">
		    <div class="container box_1170">
		        <h2 style="font-size: 28px; color: #432c16;">Moments forts de l'événement :</h2>
		        <ul style="font-size: 20px; color: #432c16;">
		            <li style="margin-left: 20px;"> <strong>* Présentations Principales :</strong> Écoutez les experts de premier plan et les personnalités influentes de la communauté Python.</li>
		            <li style="margin-left: 20px;"> <strong>* Ateliers Techniques :</strong> Participez à des sessions pratiques conçues pour améliorer vos compétences en Python.</li>
		            <li style="margin-left: 20px;"> <strong>* Discussions en Panel :</strong> Engagez-vous dans des discussions stimulantes sur différents sujets liés à Python et à la technologie.</li>
		            <li style="margin-left: 20px;"> <strong>* Événements de Réseautage :</strong> Connectez-vous avec des personnes partageant les mêmes idées, échangez des idées et créez des relations professionnelles.</li>
		            <li style="margin-left: 20px;"> <strong>* Lightning Talks :</strong> Profitez de présentations courtes et percutantes sur une large gamme de sujets liés à Python.</li>
		        </ul>

		        <h2 style="font-size: 28px; color: #432c16;">Avantages de Participer :</h2>
		        <ul style="font-size: 20px; color: #432c16;">
		            <li style="margin-left: 20px;"> <strong>* Élargissez Vos Connaissances :</strong> Apprenez les dernières tendances, outils et meilleures pratiques en programmation Python.</li>
		            <li style="margin-left: 20px;"> <strong>* Croissance Professionnelle :</strong> Obtenez des informations de la part de leaders de l'industrie et faites avancer votre carrière.</li>
		            <li style="margin-left: 20px;"> <strong>* Engagement Communautaire :</strong> Rejoignez une communauté dynamique de développeurs et passionnés de Python.</li>
		            <li style="margin-left: 20px;"> <strong>* Accès Exclusif :</strong> Profitez d'un accès exclusif aux documents de la conférence, aux enregistrements et aux ressources.</li>
		        </ul>

		        <h2 style="font-size: 28px; color: #432c16;">Comment S'Inscrire :</h2>
		        <p style="font-size: 20px; color: #432c16;">
		            Pour assister à PyCon Niger 2024, veuillez compléter le processus d'inscription ici pour montrer votre intérêt : 
		            <a href="#" style="font-size: 20px; color: #1a73e8;">[Lien à venir]</a>
		        </p>

		        <h2 style="font-size: 28px; color: #432c16;">Coordonnées :</h2>
		        <p style="font-size: 20px; color: #432c16;">
		            Pour toute question ou assistance supplémentaire, veuillez nous contacter à l'adresse <strong>contact@pythonniger.org</strong>.
		        </p>

		        <h2 style="font-size: 28px; color: #432c16;">Rejoignez-Nous :</h2>
		        <p style="font-size: 20px; color: #432c16;">
		            Ne manquez pas cette incroyable opportunité de développer vos compétences techniques, de réseauter avec des professionnels de l'industrie et de faire partie du plus grand rassemblement Python au Niger. Nous avons hâte de vous accueillir à PyCon Niger 2024 !
		        </p>
		    </div>
		</section>
	</main>

{% endblock main %}