{% extends 'layout-fr.html' %}
{% block main %}
	<main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="sample-text-area">
            <div class="container box_1170">
                <p style="font-size: 20px; color: #432c16;">
                    Au cours des deux jours de PyCon Niger 2025, les participants peuvent s'attendre à une gamme diversifiée d'événements conçus pour enrichir leurs connaissances, leurs compétences et leur réseau professionnel. Voici un résumé des principaux événements :
                </p>
                <ul style="list-style-type: disc; padding-left: 40px;">
                    <li style="font-size: 20px; color: #432c16;">
                        <b>1. Présentations Principales :</b>
                        <p style="font-size: 20px; color: #432c16;">Des conférenciers renommés offriront des discours inspirants, partageant leurs idées et expériences dans la communauté Python et l'industrie technologique.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>2. Discussions en Panel :</b>
                        <p style="font-size: 20px; color: #432c16;">Des sessions pratiques où les participants peuvent apprendre et pratiquer de nouvelles compétences Python, du niveau débutant au niveau avancé.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>3. Lightning Talks :</b>
                        <p style="font-size: 20px; color: #432c16;">Des discussions interactives avec des experts débattant de sujets importants et des tendances dans le développement Python et la technologie.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>4. Ateliers Techniques :</b>
                        <p style="font-size: 20px; color: #432c16;">Présentations courtes et ciblées sur divers sujets liés à Python, permettant aux conférenciers de partager leurs connaissances et idées de manière concise.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>5. Événements de Réseautage :</b>
                        <p style="font-size: 20px; color: #432c16;">Opportunités pour les participants de rencontrer et de se connecter avec d'autres passionnés de Python, des professionnels de l'industrie et des collaborateurs potentiels.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>6. Démos de Projets :</b>
                        <p style="font-size: 20px; color: #432c16;">Présentations de projets innovants et d'applications construites avec Python, offrant inspiration et exemples pratiques des capacités de Python.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>7. Hackathon :</b>
                        <p style="font-size: 20px; color: #432c16;">Un événement de codage collaboratif où les équipes travaillent ensemble pour créer des solutions à des problèmes du monde réel en utilisant Python.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>8. Stands d'Exposition :</b>
                        <p style="font-size: 20px; color: #432c16;">Présentations des sponsors et exposants présentant leurs produits, services et contributions à l'écosystème Python.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>9. Rencontres Communautaires :</b>
                        <p style="font-size: 20px; color: #432c16;">Réunions informelles pour des groupes d'intérêt spécifiques au sein de la communauté Python, tels que les développeurs Django, les data scientists et les éducateurs.</p>
                    </li>
                    <li style="font-size: 20px; color: #432c16;">
                        <b>10. Cérémonie de Clôture :</b>
                        <p style="font-size: 20px; color: #432c16;">Un résumé des moments forts de l'événement, des remerciements aux contributeurs et un aperçu des futures activités de la Communauté Python Niger.</p>
                    </li>
                </ul>
                <p style="font-size: 20px; color: #432c16;">
                    Ces événements sont conçus pour offrir une expérience complète et enrichissante à tous les participants, favorisant l'apprentissage, la collaboration et la construction communautaire au sein de l'écosystème Python.
                </p>
            </div>
        </section>

	</main>


{% endblock main %}