{% extends 'layout-fr.html' %}
{% block main %}
	<main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
		<section class="sample-text-area">
		    <div class="container box_1170">
		        <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif;">
		            <h1 style="color: #333333;">Devenez Sponsor pour PyCon Niger 2024 !</h1>
		            <p style="font-size: 20px; color: #432c16;"><span style="font-weight: bold; color: #007BFF; font-size: 20px;">Rejoignez-nous pour faire de PyCon Niger 2024 un événement marquant !</span> En tant que conférence technologique annuelle de premier plan au Niger, PyCon Niger rassemble des passionnés de Python, des développeurs et des professionnels de l'industrie de tout le pays. Cet événement est une opportunité unique de soutenir la croissance de la communauté technologique au Niger, de promouvoir votre marque et de se connecter avec les acteurs clés de l'industrie.</p>
		            
		            <h2 style="color: #333333;">Pourquoi sponsoriser PyCon Niger 2024 ?</h2>
		            <p style="font-size: 20px; color: #432c16;"><span style="font-weight: bold; color: #007BFF; font-size: 20px;">Visibilité de la Marque :</span> Obtenez une exposition à un public diversifié et engagé de professionnels de la technologie, d'étudiants et de leaders de l'industrie.</p>
		            <p style="font-size: 20px; color: #432c16;"><span style="font-weight: bold; color: #007BFF; font-size: 20px;">Opportunités de Réseautage :</span> Connectez-vous avec des clients potentiels, des partenaires et des individus talentueux.</p>
		            <p style="font-size: 20px; color: #432c16;"><span style="font-weight: bold; color: #007BFF; font-size: 20px;">Impact Communautaire :</span> Soutenez le développement de l'écosystème technologique local et contribuez à l'avancement de la technologie au Niger.</p>
		            
		            <h2 style="color: #333333;">Packages de Sponsoring</h2>

		            <div style="margin: 20px 0; padding: 20px; background-color: #f9f9f9; border-left: 5px solid #007BFF; border-radius: 5px;">
		                <div style="font-size: 1.2em; font-weight: bold; margin-bottom: 10px;">Sponsor Platine</div>
		                <p style="font-size: 20px; color: #432c16;"><strong>Investissement :</strong> 10 000 $</p>
		                <ul style="list-style-type: none; padding-left: 0;">
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Placement premium du logo sur tous les supports de l'événement, site web et signalisation.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Opportunité de prononcer un discours d'ouverture.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Espace de stand dédié dans la zone d'exposition (si vous ne pouvez pas vous rendre au centre de conférence, nous pouvons fournir 3 personnes dédiées à votre stand pour vous représenter comme si vous étiez avec nous).</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Publicité pleine page dans le programme de l'événement.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- 10 billets de conférence gratuits.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Reconnaissance dans tous les communiqués de presse et matériels de marketing.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Mentions et mises en avant sur les réseaux sociaux.</li>
		                </ul>
		            </div>

		            <div style="margin: 20px 0; padding: 20px; background-color: #f9f9f9; border-left: 5px solid #007BFF; border-radius: 5px;">
		                <div style="font-size: 1.2em; font-weight: bold; margin-bottom: 10px;">Sponsor Or</div>
		                <p style="font-size: 20px; color: #432c16;"><strong>Investissement :</strong> 5 000 $</p>
		                <ul style="list-style-type: none; padding-left: 0;">
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Placement en évidence du logo sur les supports de l'événement, site web et signalisation.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Opportunité de présenter un atelier ou une session.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Espace de stand dans la zone d'exposition (si vous ne pouvez pas vous rendre au centre de conférence, nous pouvons fournir 2 personnes dédiées à votre stand pour vous représenter comme si vous étiez avec nous).</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Publicité demi-page dans le programme de l'événement.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- 5 billets de conférence gratuits.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Reconnaissance dans les communiqués de presse et matériels de marketing.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Mentions sur les réseaux sociaux.</li>
		                </ul>
		            </div>

		            <div style="margin: 20px 0; padding: 20px; background-color: #f9f9f9; border-left: 5px solid #007BFF; border-radius: 5px;">
		                <div style="font-size: 1.2em; font-weight: bold; margin-bottom: 10px;">Sponsor Argent</div>
		                <p style="font-size: 20px; color: #432c16;"><strong>Investissement :</strong> 3 000 $</p>
		                <ul style="list-style-type: none; padding-left: 0;">
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Placement du logo sur les supports de l'événement, site web et signalisation.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Opportunité de présenter une courte intervention.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Espace de stand partagé dans la zone d'exposition (si vous ne pouvez pas vous rendre au centre de conférence, nous pouvons fournir une personne dédiée à votre stand pour vous représenter comme si vous étiez avec nous).</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Publicité quart de page dans le programme de l'événement.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- 3 billets de conférence gratuits.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Reconnaissance dans les communiqués de presse et matériels de marketing.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Mentions sur les réseaux sociaux.</li>
		                </ul>
		            </div>

		            <div style="margin: 20px 0; padding: 20px; background-color: #f9f9f9; border-left: 5px solid #007BFF; border-radius: 5px;">
		                <div style="font-size: 1.2em; font-weight: bold; margin-bottom: 10px;">Sponsor Bronze</div>
		                <p style="font-size: 20px; color: #432c16;"><strong>Investissement :</strong> 1 000 $</p>
		                <ul style="list-style-type: none; padding-left: 0;">
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Placement du logo sur les supports de l'événement, site web et signalisation.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Reconnaissance dans le programme de l'événement.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- 2 billets de conférence gratuits.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Mentions sur les réseaux sociaux.</li>
		                </ul>
		            </div>

		            <div style="margin: 20px 0; padding: 20px; background-color: #f9f9f9; border-left: 5px solid #007BFF; border-radius: 5px;">
		                <div style="font-size: 1.2em; font-weight: bold; margin-bottom: 10px;">Sponsor en Nature</div>
		                <p style="font-size: 20px; color: #432c16;"><strong>Investissement :</strong> Valeur des biens/services fournis</p>
		                <ul style="list-style-type: none; padding-left: 0;">
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Placement du logo sur le site web de l'événement et la signalisation.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Reconnaissance dans le programme de l'événement.</li>
		                    <li style="font-size: 20px; color: #432c16; margin: 5px 0; padding-left: 15px; position: relative;">- Mentions sur les réseaux sociaux.</li>
		                </ul>
		            </div>

		            <p style="margin-top: 20px; font-size: 20px; color: #432c16;"><strong>Rejoignez-nous pour aider à former la prochaine génération de leaders technologiques au Niger !</strong></p>
		            <p style="margin-top: 20px; font-size: 20px; color: #432c16;">Pour plus d'informations et pour confirmer votre sponsoring, veuillez nous contacter à <a href="mailto:sponsor@pythonniger.org" style="color: #007BFF; font-size: 20px;">sponsor@pythonniger.org</a>.</p>
		            <p style="margin-top: 20px; font-size: 20px; color: #432c16;"><strong>Faisons ensemble de PyCon Niger 2024 un succès phénoménal !</strong></p>
		        </div>
		    </div>
		</section>
	</main>
{% endblock main %}